html, body, * {
    cursor: auto;
    cursor: url(cursor.gif) 2 2, auto;
}

#videoss {
    cursor: none;
}
button {
    cursor: pointer;
    font-size: 5rem;
    width: 100%;
    height: 5rem;
}
.game-ico{
    width: 4rem;
    height: 3rem;
}
.logo{
    display: inline;
    width: 10%;
}
h1 {
    display: inline;
    background: black;
    padding: 1rem;
}
.hbd {
    font-size: 4em;
}
#cursor {
    position: absolute;
    z-index: 10000;
    width: 40px;
    height: 40px;
    background: transparent url(cursor.gif) 0 0 no-repeat;
}

html {
    background-color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('bg3.png');
}
body{
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(255,255,255,0) !important;
    color: white !important;
}
.container {
    background-color:transparent;
    padding: 2rem;
}
p{
    font-size: 1.5em;
}
video{
    width: 80%;
    height: 80%;
}